/*definições gerais*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

body {
    background-image: url(../imagens/background_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Github*/
#social{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 40px;
    left: 20px;
}

#social a{
    font-size: 70px;
    color: #000;
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff;
    transition: 0.3s linear;
}

#social a:hover{
    transform: scale(1.1);
}

/*Texto*/
.texto {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    color: aliceblue;
    text-align: center;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
}

.texto h1 {
    font-weight: 700;
    font-size: 70px;
}

.p1 {
    font-size: 40px;
}

.p2 {
    font-size: 17px;
    font-weight: 300;
    color: darkgray;
}

/*Container*/
#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

/*Esquerda e cards*/
.esquerda {
    padding: 20px;
}

.esquerda ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 200px;
    gap: 50px;
}

.esquerda ul li {
    list-style: none;
}

.card {
    /*Local ods elementos*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    /*Cor do card*/
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 5px #fff, -2px -2px 5px #fff, 2px -2px 5px #fff, -2px 2px 5px #fff;
    backdrop-filter: blur(5px);
    /*Tamanho e borda*/
    width: 340px;
    height: 320px;
    border-radius: 50px;
    /*texto*/
    color: aliceblue;
    text-decoration: none;
    font-size: 50px;
    /*transition*/
    transition: 0.3s linear;
    position: relative;
}

.card h4{
    font-size: 50px;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
}

.card img{
    position: absolute;
    bottom: 0;
    width: 260px;
    align-self: flex-end;
    border-bottom-right-radius: 50px;
    scale: 1;
    transition: transform .4s linear;
}

.card:hover img{
    transform: scale(0) translateY(-500px);
}

.card p{
    font-size: 25px;
    margin: 20px;
    transition: opacity .5s linear;
    opacity: 0;
}

.card:hover p{
    opacity: 100;
}

.card:hover{
    transform: scale(1.1);
}

/*Direita e imagem*/
.direita {
    display: flex;
    justify-content: end;
}

.direita img {
    max-height: 100vh;
    justify-content: flex-end;
}

@media (max-width: 1500px){
    #social{
        gap: 1rem;
        top: 1rem;
        left: 2rem;
    }
    #social a{
        font-size: 4rem;
    }
    .texto h1{
        font-size: 2.7rem;
    }
    .p1{
        font-size: 2.3rem;
    }
    .p2{
        font-size: 1rem;
    }
    #container{
        grid-template-columns: 65% 35%;
    }
    .esquerda{
        padding-left: 2rem;
        padding-top: .5rem;
    }
    .esquerda ul{
        margin-top: 9rem;
        gap: 1.36em;
    }
    .card{
        font-size: 3rem;
        padding-top: 1rem;
        width: 5em;
        height: 4.5em;
    }
    .card h4{
        font-size: 0.7em;
    }
    .card img{
        display: block;
        max-width: 3.9em;
    }
    .card p{
        margin: 10px;
        font-size: 1rem;
    }
    .direita img{
        width: auto;
    }
}

/*Fim da pagina principal*/

/*Inicio historia*/
/*header*/
header{
    margin: 0 auto;
    display: flex;
    max-width: 1800px;
    height: 110px;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 30px 30px;
    
}

#logo{
    display: block;
    background-image: url(imagens/icone.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#logo:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff;
}

.pages ul{
    display: flex;
    gap: 2em;
}

.pages ul li{
    list-style: none;
}

.pages ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    padding: 1rem;
}

.pages ul li a:hover{
    color: aqua;
}

main{
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 3rem;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}

section{
    display: grid;
}

.img-direita{
    grid-template-columns: minmax(200px, 65%) minmax(500px, 35%);
}

.img-esquerda{
    grid-template-columns: minmax(400px, 35%)minmax(200px, 65%);
}

main section h2{
    grid-column: span 2;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

main section:not(:nth-child(1)) h2{
    margin-top: 3rem;
}

main section img{
    align-self: center;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 1em;
    transition: transform .3s linear;
}

main section img:hover{
    transform: translateY(-4rem);
}

.conteudo p{
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: 1.3em;
}

footer{
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px 30px 0px 0px;
    max-width: 1800px;
    margin: 0 auto;
    height: 9rem;
    display: flex;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: aliceblue;
}

footer a{
    font-size: 5rem;
    color: #000;
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff;
    transition: 0.3s linear;
}

footer a:hover{
    transform: scale(1.1);
}